<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<!-- TOP HEADER AREA -->
<div class="flex flex-col md:flex-row md:items-center justify-between mb-8 gap-4" >


    <!-- User Info -->
    <div class="flex items-center gap-4 bg-white p-3 rounded-xl shadow-sm border border-gray-100 md:ml-auto">
        <div class="w-10 h-10 rounded-full bg-blue-100 flex items-center justify-center text-blue-600 font-bold border-2 border-white shadow-sm">
            AD
        </div>
        <div class="pr-2">
            <h4 class="text-sm font-bold text-gray-800 leading-none" sec:authentication="principal.fullName" ></h4>
            <span class="text-xs text-blue-500 font-semibold bg-blue-50 px-2 py-0.5 rounded-full mt-1 inline-block" sec:authentication="principal.role">Admin</span>
        </div>

    </div>
</div>
</body>
</html>